* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    height: 100vh;
    background: linear-gradient(135deg, #a4a3f1, #1434e9);
    overflow: hidden;
    background-image: url('behind.jpg');
    background-size: 100%;
  }
  .container {
    min-width: 270px;
    max-width: 300px;
    height: 300px;
    background-color: lightgray;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.6em;
  }
  .container button{
    min-width: 100px;
    max-width: 135px;
    min-height: 35px;
    max-height: 50px;
    margin-top: 90%;
    font-size: 100%;
    background-color: #f0f0f0;
    border-radius: 7px;
  }
  .base,
  #scratch {
    height: 170px;
    width: 170px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
    cursor: grabbing;
    border-radius: 0.3em;
  }
  .base {
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1.2em 2.5em rgba(16, 2, 96, 0.15);
  }
  .base h3 {
    font-weight: 600;
    font-size: 2.0em;
    color: #000000;
  }
  .base h4 {
    font-weight: 400;
    color: #746e7e;
  }
  #scratch {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
  }