@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body{
    background-color: rgba(17,17,17,255);
    overflow: hidden;
}
.details {
    min-height: 500%;
    min-width: 500%;
}

audio{
    position: absolute;
    bottom: 7px;
    right: 5px;
}